################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NerdStoreEnterprise/v16
/src/building-blocks/NSE.Core/bin/Debug/netcoreapp3.1
/src/building-blocks/NSE.Core/obj
/src/services/NSE.Carrinho.Api/bin/Debug/netcoreapp3.1
/src/services/NSE.Carrinho.Api/obj
/src/services/NSE.Catalogo.Api/bin/Debug/netcoreapp3.1
/src/services/NSE.Catalogo.Api/obj
/src/services/NSE.Cliente.Api/bin/Debug/netcoreapp3.1
/src/services/NSE.Cliente.Api/obj
/src/services/NSE.Identidade.Api/bin/Debug/netcoreapp3.1
/src/services/NSE.Identidade.Api/obj
/src/services/NSE.Pagamento.Api/bin/Debug/netcoreapp3.1
/src/services/NSE.Pagamento.Api/obj
/src/services/NSE.Pedido.Api/bin/Debug/netcoreapp3.1
/src/services/NSE.Pedido.Api/obj
/src/web/NSE.WebApp.MVC/bin/Debug/netcoreapp3.1
/src/web/NSE.WebApp.MVC/obj
/src/building-blocks/NSE.WebAPI.Core/bin/Debug/netcoreapp3.1
/src/building-blocks/NSE.WebAPI.Core/obj
/src/building-blocks/NSE.MessageBus/bin/Debug/netcoreapp3.1
/src/building-blocks/NSE.MessageBus/obj
/src/api gateways/NSE.Bff.Compras/bin/Debug/netcoreapp3.1
/src/api gateways/NSE.Bff.Compras/obj
/src/services/NSE.Pedidos.Domain/bin/Debug/netcoreapp3.1
/src/services/NSE.Pedidos.Domain/obj
/src/services/NSE.Pedidos.Infra/bin/Debug/netcoreapp3.1
/src/services/NSE.Pedidos.Infra/obj
/src/services/NSE.Pagamentos.NerdsPag/bin/Debug/netcoreapp3.1
/src/services/NSE.Pagamentos.NerdsPag/obj
